:root {
    --color-primero: #1A6FCF;
    --color-secundario: #254160;
    --color-tercero: #FFF;
    --color-sombra: rgba(0, 0, 0, 0.7);
    --color-texto-primero: rgb(99, 103, 114);
    --color-p:rgb(29, 41, 53);
  }

/*-----ESTILOS GENERALES--------------*/

*{
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body,
h2,
ul{
    margin: 0;
    padding: 0;  
}

/*-----MAQUETACIÓN PRINCIPAL CON GRID--------------*/

.contiene_todo{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas: "cabecera cabecera cabecera cabecera cabecera cabecera"
                         "slider slider slider slider slider slider"
                         "principal principal principal principal principal principal"
                         "footer footer footer footer footer footer";
}

.header{
    grid-area: cabecera;
}

.slider{
    grid-area: slider;
}

.main{
    grid-area: principal;
}

.footer{
    grid-area: footer;
}


/* menu principal */

.header{
    width: 100%;
    background-color: var(--color-primero);
    padding: 10px 15px;
    position: sticky;
    z-index: 10;
    top: 0;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.a_logo img{
    width: 50px;
    margin-left: 10px;
}

.button{
    background:none;
    border: none;
}

.burguer_menu{
    color: var(--color-tercero);
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color .5s ease;
}

.burguer_menu:hover{
    background-color: var(--color-secundario);
}

.header_nav{
    background-color: var(--color-secundario);
    border-radius: 5px;
    box-shadow: 5px 5px 5px var(--color-sombra);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
    pointer-events: none; 

    display: flex;
    align-items: center;
    justify-content: center;
}

.header_nav.activado{
    height: 42vh;
    pointer-events: auto; 
}

.nav_ul{
    list-style: none;
    padding: 10px 0;
    background-color: var(--color-secundario);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1.5em;
}

.nav_ul_li a{
    text-decoration: none;
    color: var(--color-tercero);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1.5px;
    transition: color .5s ease;
}

.nav_ul_li a:hover{
    color: var(--color-primero);
}

/* slider o portada */

.slider{
    margin-bottom: 130px;
    height: 100vh;
    background-image: url(../images/sierrasb.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.blur{
    position: absolute;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    }

.cont_title{
    width: 100%;
    position: absolute;
    z-index: 7;
    top: 20px;
}

h1{
    text-align: center;
    color: var(--color-tercero);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    margin: 5px;
}

.cont_title h2{
    text-align: center;
    color: var(--color-tercero);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
}

img{
    width: 100%;
}

.contiene_carrusel{
    width: 95%;
    margin: auto;
    top: 50%;
    transform: translateY(-65%);
    overflow: hidden;
    box-shadow: 0 15px 50px var(--color-sombra);
    border: 5px solid var(--color-tercero);
    position: relative;
}

.carrusel{
    display: flex;
    width: 400%;
    height: 300px;
    max-height: 100vh;
    margin-left: -100%;
}

.carrusel_section{
    width: 100%;
}

.img_carrusel{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_carr{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--color-primero);
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: var(--color-tercero);
    font-weight: 200;
    font-family: monospace;
    text-align: center;
    line-height: 100%;
    border-radius: 20%;
    outline: 3px solid var(--color-tercero);
    cursor: pointer;
}

.btn_carr:hover{
    background-color: rgb(0, 255, 21);
}

.btn_carrusel_right{
    right: 20px;
}

.btn_carrusel_left{
    left: 20px;
}


/*------------MAIN-------------*/
/*------------CONTADORES-------------*/

main{
    perspective: 2px;
}

.contadores_principal{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 150px;
    gap: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contador{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contador i{
    font-size: 50px;
    color: var(--color-secundario);
}

.contador h2{
    margin: 0;
    padding: 0;
    color: var(--color-texto-primero);
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.contador_cantidad{
    font-size: 50px;
    color: var(--color-primero);
    font-weight: 700;
}

.texto_contador{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.texto_contador span{
    font-size: 18px;
    color: var(--color-texto-primero);
    font-weight: 600;
}

@keyframes aparecer {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.ocultar{
    opacity: 0;
}

.animar{
    animation: aparecer 1.3s;
}


/*-------EFECTO PARALLAX-------*/

.contiene_banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;
}

.banner{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../images/parallax.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.oscurecer{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.oscurecer_flex{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.oscurecer_textos{
    width: 80%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.oscurecer h2{
    color: var(--color-tercero);
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
   
}

.opciones{
    width: 100%;
    top: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding: 10px;
    border-left: 3px solid var(--color-primero);
}

.opciones_li{
    display: flex;
    align-items: center;
    gap: 20px;
}

.opciones_li p{
    margin: 0;
    font-size: 20px;
    color: var(--color-tercero);
}

.opciones_li i{
    font-size: 30px;
    color: var(--color-tercero);
}

.boton_nosotros,
.oscurecer a{
   text-decoration: none;
   color: var(--color-tercero);
   font-weight: 400;
   letter-spacing: 2px;
   font-size: 25px;
   display: inline-block;
   padding: 5px 5px;
   overflow-x: hidden;
   overflow-y: auto;
   border: 3px solid var(--color-tercero);
   border-radius: 10px;
   cursor: pointer;
   transition: all .5s ease;
}

.boton_nosotros::after,
.oscurecer a::after{
    content: "     ->";
    font-size: 25px;
    color: #FFF;
    font-weight: 800;
    font-family: monospace;
    display: none;
    transition: all 2s ease;
}

.boton_nosotros:hover,
.oscurecer a:hover{
    background-color: var(--color-primero);
}

.boton_nosotros:hover::after,
.oscurecer a:hover::after{
    display: inline-block;
    
}

/* imagenes dentro de efecto parallax */

.cab_interior_imagenes{
    display: none;
}

.cab_interior{
    display: none;
}

/* nosotros */

.nosotros{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nosotros_titulos{
    border-left: 5px solid var(--color-primero);
    padding-left: 10px;
}

.nosotros_titulos h2{
    color: var(--color-secundario);
    font-size: 35px;
    border-bottom: 3px solid rgb(214, 218, 226);
    width: fit-content;
    padding-left: 10px;
    margin-left: 0;
}

.nosotros_titulos h3{
    color: var(--color-texto-primero);
    font-weight: 800;
    font-size: 22px;
}

.nosotros_textos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.nosotros_p p{
    color: var(--color-p);
    font-size: 20px;
    font-weight: 500;
    border-bottom: 3px solid var(--color-primero);
    padding-bottom: 15px;
}

.nosotros_p strong{
    font-size: 25px;
    color: var(--color-secundario);
}

.boton_nosotros{
    color: var(--color-primero);
    border-color: var(--color-primero);
    font-weight: 700;
    
}

.boton_nosotros:hover{
    background-color: var(--color-secundario);
    color: var(--color-tercero);
    border-color: var(--color-tercero);
    box-shadow: 3px 0 20px var(--color-sombra);
}


.nosotros_opciones{
 border: none;
}

.nosotros_ul{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    gap: 30px;
}

.h2_nosotros{
    text-align: center;
    color: var(--color-secundario);
    font-weight: 600;
    letter-spacing: 1.5px;
}

.nosotros_li p{
    color: var(--color-p);
}

.nosotros_li i{
    color: var(--color-primero);
}


/*------------SECCIÓN CABAÑA PREMIUM-------------*/

.casa_premium{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--color-primero);
}

.casa_premium_img{
    background-image: url(../images/cab-a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 50vw;
    max-height: 80vh;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.casa_premium_a{
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: hsla(0, 0%, 0%, 0.644);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: all .3s ease;
}

.casa_premium_a a{
    color: var(--color-tercero);
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    display: inline-block;
    padding: 8px 15px;
    border: 3px solid var(--color-tercero);
}

.casa_premium_a a:hover{
    background-color: var(--color-primero);
}

.casa_premium_img:hover > .casa_premium_a{
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.casa_premium span{
    color: var(--color-tercero);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

.casa_premium p{
    color: var(--color-tercero);
    text-align: center;
    font-size: 14px;
}

.casa_premium_boton{
    color: var(--color-tercero);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--color-tercero);
    border-radius: 10px;
    transition: all .2s linear;
}

.casa_premium_boton:hover{
    background-color: var(--color-tercero);
    color: var(--color-p);
    font-weight: 800;
    border-color: var(--color-p);
    transform: scale(1.2);
}

/*------------FOOTER-------------*/

.footer{
    background-color: var(--color-primero);
    margin-top: 600px;
}

.footer > h2{
    text-align: center;
    color: var(--color-tercero);
}

.menciones_flaticon{
    display: block;
    text-align: center;
    margin: 20px 0;
    color: var(--color-tercero);
}

/* logo whatsapp */

.whatsapp_logo img{
    width: 50px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    filter: saturate(2);
    border: 3px solid var(--color-tercero);
    border-radius: 100%;
    animation-name: whatsapp;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: all .3s ease;
}


@keyframes whatsapp {
    0%{
        width: 50px;
    }
    50%{
        width: 70px;
        filter: saturate(4);
        box-shadow: 0 10px 10px var(--color-sombra);
    }
    100%{
        width: 50px;
    }
}



@media screen and (min-width:760px){

    .header{
        height: max-content;
        padding: 3px 3px;
    }

    .a_logo img{
        width: 60px;
        margin-left: 40px;
    }

    .button{
        margin-right: 40px;
    }

    .cont_title{
        top: 10px;
    }

    h1{
        font-size: 35px;
    }

    .slider{
        margin-bottom: 220px;
    }

    .contiene_carrusel{
        width: 80%;
        transform: translateY(-50%);
    }

    .carrusel{
        height: 70vh;
    }

    

    /* contadores */

    .contador{
        gap: 30px;
    }

    .contador i{
        font-size: 60px;
    }

    .contador h2{
        font-size: 24px;
    }


    /* pruebas */

    .ofrecemos_article{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .casa_llave{
        width: 50%;
        border-radius: 100%;
    }
}

@media screen and (min-width:970px){

    .header_nav{
        width: fit-content;
        display: block;
        height: 55px;
        box-shadow: none;
        pointer-events: all;
        transition: none;
        margin-right: 20px;
        overflow: visible;
    }
    .header_nav.activado{
        flex-direction: row;
        height: fit-content;
    }

    .nav_ul{
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        background-color: var(--color-primero);
        gap: 0;
        padding: 0 30px;
    } 
    
    .nav_ul_li a{
        display: inline-block;
        padding: 18px 15px;
        font-weight: 400;
        font-size: 16px;
        border-radius: 5px;
        transition: all .4s ease;
    }

    .nav_ul_li a:hover{
        color: var(--color-tercero);
        background-color: var(--color-secundario);
        box-shadow: 4px 4px 7px var(--color-sombra);
    }

    .button{
        display: none;
    }

    /* carrusel */

    .contiene_carrusel{
        width: 70%;
    }

    .carrusel{
        height: 65vh;
    }

    .casa_premium{
        width: 100%;
    }

}

@media screen and (min-width:1200px){

    .oscurecer_textos{
        width: 50%;
    }

    .nosotros_textos{
        gap: 40px;
        justify-content: space-between;
    }

    .nosotros_p{
        width: 60%;
    }

    .nosotros_ul{
        width: 30%;
    }

    .oscurecer_flex{
        width: 90%;
        
    }

    .cab_interior_imagenes{
        width: 40%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "img_a img_b"
                             "img_c img_d";
        align-items: center;
        align-content: center;
        gap: 20px;
    }

    .grid_a{
        grid-area: img_a;
    }

    .grid_b{
        grid-area: img_b;
    }
    
    .grid_c{
        grid-area: img_c;
    }
    
    .grid_d{
        grid-area: img_d;
    }
    
    
    .cab_interior{
        width: 100%;
        display:block;
        border-radius: 10px;
        border: 3px solid var(--color-tercero);
        transition: all .3s ease;
    }

    .cab_interior:hover{
        transform: translateX(-30px) scale(1.2);
    }

}